h1 {font-style: italic;
    font-size: 40px;
    color: white
    style; text-align: center;}

    body{background-color: #ffb8d3}

.topnav a {
    color: #f800c2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
  }

p { font-size: 26px; 
font-family: cursive;}
